header.header{
    .nav_and_logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        // @media screen and (max-width: 992px){
        //     flex-direction: column;
        // }
        a.logo{
            display: BLOCK;
            @media screen and (max-width: 992px){
                //margin: 10px auto 30px auto;
            }
            img{
                max-width: 100%;
                object-fit: contain;
            }
        }
    }
    
}